

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  h1 {
    text-align: center;
    position: relative;
    z-index: 1;
  }
  

.icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  
  .icon img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    z-index: 2;
  }


  
  .icon .closed {
    opacity: 1;
  }
  
  .icon:hover .open {
    opacity: 1;
  }
  
  .icon:hover .closed {
    opacity:  0;
  }

  .icon .open {
    opacity: 0;
  }
  
  .open {
    position: relative;
    z-index: 1;
  }
  
  .icon-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .draggable {
    /* Indicate the element draggable 
    cursor: move;
    */

    /* It will be positioned absolutely */
    position: relative;
    z-index: 1;

    /* Doesn't allow to select the content inside */
    user-select: none;
}



