.icon img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin: auto;
    max-width: 40%;
  }
  
  .icon:hover img:first-child {
    opacity: 0;
  }
  
  .icon:hover img:last-child {
    opacity: 1;
  }
  
  .icon:not(:hover) img:first-child {
    opacity: 1;
  }
  
  .icon:not(:hover) img:last-child {
    opacity: 0;
  }
  