header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10%;
}

.header-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Ensures the color matches the rest of the header */
    cursor: pointer; /* Changes the cursor to a pointer when hovering */
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 10%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.caption {
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: #555;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

header p {
    color: #666;
    font-size: 1.2rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.timeline-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.timeline-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}



footer {
    font-family: 'Courier New', Courier, monospace;
    color: #fff; /* White text color */
    text-align: center; /* Center-align text */
    padding: 20px; /* Spacing around the content */
    color: black;
    margin: 10%;
}

footer p {
    margin-bottom: 10px; /* Spacing between copyright and social media links */
}

.social-media {
    margin-top: 10px; /* Spacing above the social media links */
}

.social-media a {
    color: black; /* White color for the icons */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Spacing between icons */
    font-size: 20px; /* Size of the icons */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.social-media a:hover {
    color: #ffa500; /* Change color on hover */
}