/* Centering container */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: auto;
}

.about-section h1 {
  font-family: 'Arial', sans-serif; /* Change font family for h1 */
  font-size: 36px; /* Adjust font size */
  font-weight: bold; /* Make it bold if you want */
  color: #333; /* Change font color */
  display: flex;
  margin: auto;



}

.about-section p {
  font-family: 'Georgia', serif; /* Change font family for p */
  font-size: 16px; /* Adjust font size */
  color: #666; /* Change font color */
  display: flex;
  margin: auto;


}

ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 20px; /* Indentation for nested items */
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.caret::before {
  content: "\f07b"; /* Font Awesome folder icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #FFA500;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  content: "\f07c"; /* Font Awesome open folder icon */
}

.nested {
  display: none;
  margin-left: 20px; /* Shift nested items to the right */
  position: relative; /* Allows for positioning lines */
  border-left: 1px solid #ccc; /* Vertical line */
}

.nested li {
  position: relative;
  padding-left: 20px; /* Space for the folder icon */
}

.nested li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  width: 20px;
  height: 1px;
  background-color: #ccc; /* Horizontal line */
}

.active {
  display: block;
}